{% extends 'base/base.html' %}

{% load static %}
{% load humanize %}
{% block title %}
Products
{% endblock title %}

{% block content %}
<div class="lg:py-12 items-center flex justify-center">
    <div>
        <div class="lg:p-3 border-b">
            <div class="mt-2">
                <form action="{% url 'search' %}" method="get" class="flex items-center gap-1">
                    {% csrf_token %}
                    <input type="search" name="query" id="query"
                        class="tracking-tight font-thin border rounded leading-9 w-full lg:w-[20rem] px-3"
                        placeholder="Search for label, title, price..." />
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                        </svg>
                    </button>
                </form><br><br>
                {% if query %}
                <h1 class="lg:text-xl">Search Results for "<span class="font-thin">{{ query }}</span>"</h1>
                {% endif %}
            </div>
        </div>
        <br><br>
        <div class="grid lg:grid-cols-4 md:grid-cols-2 gap-4 w-full lg:gap-10">
            {% for x in object_list %}
            <a href="{{ x.get_absolute_url }}" class="mx-auto hover:shadow-2xl h-fit w-full rounded-lg">
                <img src="{{ x.image.url }}" alt="{{ x.title }}" class="h-[20rem] w-full rounded-t-lg">
                <div class="lg:px-4 p-3 rounded-b-lg shadow lg:py-4">
                    {% if x.label == 'H' %}
                    <h1 class="text-xs font-bold text-orange-500 flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round" fill="orange"
                                d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z" />
                            <path stroke-linecap="round" stroke-linejoin="round" fill="yellow"
                                d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z" />
                        </svg>
                        HOT
                    </h1>
                    {% endif %}
                    {% if x.label == 'R' %}
                    <h1 class="text-xs font-bold text-teal-500 flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-4 h-4">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        RARE
                    </h1>
                    {% endif %}
                    {% if x.label == 'N' %}
                    <h1 class="text-xs font-bold text-blue-500 flex items-center gap-1">
                        <p class="font-black text-2xl bg-blue-500 p-1 rounded-full"></p>
                        NEW
                    </h1>
                    {% endif %}
                    <p class="font-thin tracking-tight text-lg">
                        {{ x.title }}
                    </p>
                    <p class="font-black text-xl">
                        {% if x.discount_price %}
                        &#8358;{{ x.discount_price|intcomma }}
                        {% else %}
                        &#8358;{{ x.price|intcomma }}
                        {% endif %}
                    </p>
                </div>
            </a>
            {% endfor %}
        </div>
        <br><br><br>
        {% if is_paginated %}
        <style>
            /* Pagination links */
            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

            /* Style the active/current link */
            .pagination a.active {
                color: white;
            }

            /* Add a grey background color on mouse-over */
            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 10%;
            }
        </style>
        <div class="pagination flex items-center justify-center">
            {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% endif %}
            {% if page_obj.number == 1 %}
            <a class="active rounded bg" href="?page=1">1</a>
            {% else %}
            <a href="?page=1">1</a>
            {% endif %}
            {% if page_obj.number == 2 %}
            <a class="active rounded bg" href="?page=2">2</a>
            {% endif %}
            {% if page_obj.number == 3 %}
            <a class="active rounded bg" href="?page=3">3</a>
            {% endif %}
            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;</a>
            {% endif %}
        </div>
        {% endif %}

    </div>
</div>

{% endblock content %}