{% extends 'base/base.html' %}

{% load humanize %}
{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="flex items-center justify-center p-12">
    <div>
        <h1 class="text-center py-12 c font-medium">All Blogs</h1>
        <div class="grid grid-cols-3 lg:gap-10">
            {% for x in blog %}
            <div class="w-fit h-fit shadow rounded-b-lg rounded-t-lg">
                <img src="{{ x.image.url }}" alt="{{ x.title }}" class="rounded-t-lg">
                <div class="lg:p-3">
                    <p class="font-bold tracking-wide">{{ x.title }}</p>
                    <p class="text-xs my-2">Posted At: {{ x.created_at }}</p>
                    <hr>
                    <p class="mt-2 text-sm">{{ x.body|truncatechars:200 }}</p><br>
                    <a href="{% url 'blog_details' x.slug %}"
                        class="flex items-center gap-1 border py-2 px-4 w-fit rounded tracking-tight c hover:bg-rose-800 hover:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6.042A8.967 8.967 0 006 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 016 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 016-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0018 18a8.967 8.967 0 00-6 2.292m0-14.25v14.25" />
                        </svg>
                        Read More
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}